name: Python package

on: push

jobs:
  job1:

    runs-on: ubuntu-latest
    env: 
      working-directory: ./
    strategy:
      matrix:
        python-version: [3.9.1]

    steps:
  
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        ref: master
        path: "./github/workflows/"
    - name: testing ls
      run: ls
    - name: Install dependencies
      run: python duplicates.py ./
      working-directory: ${{ env.working-directory }}
